@model FUNewsManagementSystem.DAL.Models.Tag

@{
    ViewData["Title"] = "Tag Details";
}

<h1 class="text-primary"><i class="fas fa-tag"></i> Tag Details</h1>
<hr />

<div class="card shadow-sm">
    <div class="card-body">
        <h4 class="card-title"><i class="fas fa-info-circle"></i> Tag Information</h4>
        <hr />

        <dl class="row">
            <dt class="col-sm-3 fw-bold">@Html.DisplayNameFor(model => model.TagName)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.TagName)</dd>

            <dt class="col-sm-3 fw-bold">@Html.DisplayNameFor(model => model.Note)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Note)</dd>
        </dl>

        <div class="d-flex gap-3 mt-4">
            <a asp-action="Edit" asp-route-id="@Model?.TagId" class="btn btn-warning">
                <i class="fas fa-edit"></i> Edit
            </a>
            <a asp-action="Index" class="btn btn-secondary">
                <i class="fas fa-arrow-left"></i> Back to List
            </a>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/js/all.min.js"></script>
}
