@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome</p>
    <a asp-controller="SystemAccounts" asp-action="Logout" class="btn btn-danger">Logout</a>

</div>
